.card {
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #000000;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 200px;
  display: inline-block;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-double-click {
  background-color: #008cba;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button-click {
  background-color: #ff00d9;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.count-display {
  text-align: center;
  margin: 20px 0;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  display: inline-block;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
